*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 233, 235) !important;
}
.bonus-line{
    text-decoration-line:line-through ;
}
.bonus-font-price{
    font-size: 14px;
}

p{
    margin: 0 !important;
}
.phone-sub-info li::before{
    content: 'â—';
    font-size: 10px;

}
@media only screen and (max-width: 1200px) {
    .phone-container{            
       flex-direction: column;
       
       }
      
     
    .box-p{
        flex-direction: column;
        
        
    
    }
   
    #slider{
        padding-top: 45px;
        flex-direction: column;
         
           margin-left: -20px;
    }
    .img-second{

        margin-bottom: 7px;
    }
    
    

}



 
 @media only screen and (min-width: 1300px){ 
    .col-2{width: 20.09%;} 
       /* .col-1{width: 20%;} 

     
      .col-3{width: 50%;}
     .col-4{width: 30%;}    */

     
     } 
    
.col{
    float: left;
}

.mg-lb{
    margin-top: 35px !important;
   
}
html{
    font-family: Arial, Helvetica, sans-serif;


}
.clear{

    clear: both;
}

                    /* header */
                    /*nav*/
/*nav*/
/*nav*/
nav{
    font-family: Arial, Helvetica, sans-serif;
}
nav.navbar{
    background-color: rgb(52, 117, 121);
}
nav a, nav li{
    text-transform: uppercase;
    color: rgb(253, 253, 253);
}
.dropdown a, .dropdown ul,nav .list li a:visited{
    color: rgb(255, 255, 255);
    background-color: rgb(52, 117, 121);
}
nav .list li a:hover{
    font-size: 20px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgb(52, 117, 121) !important;
    border-color: #337ab7 !important;
    color: #fff;
}
.navbar .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
}
nav .list li a:hover, .navbar-right li a:hover, nav a:hover{
    color: black !important;
    background-color: rgb(154, 216, 219);
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(154, 216, 219) !important;
}


@media only screen and (max-width: 886px) {
    .header ul form{
        width: 147px;
    }
}
@media only screen and (max-width: 200px) {
    .header ul form{
        width: 100%;
    }
}
/*end nav*/


#slider{
    padding-top: 45px;
    
  display: flex;
}


.top-slider-first >img{
width: 100%;
height: 100%;
}
.top-slider-first{
    margin-top: 35px;
    width: 65%;
}




/* btn */
.slider-btn{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    
}
.slider-btn a{
    text-decoration: none;
}
.btn:hover{
    background-color: #ccc;
}
.btn{
    
    margin-left: 15px;
    border-radius:50% ;
    padding: 3px 8px;
   color: red;
   background-color: #fff;
}
/* img-banner */
.promote-banner{
    
    margin-top: 35px;
    margin-left: 20px;
    width: 30%;
}
.img-second{
    margin-top: 4px;
    width: 100%;
}
.img-first{
    max-height: 95px;
    margin-bottom: 5px;
    width: 100%;
}
/* suggestion */

#suggestions .suggestion-item{
 text-decoration: none;
 
}
.suggestions-text:hover{
    color: #8eb3d3;
    cursor: pointer;
}
.suggestions-text{
 
    font-size: 16px ;
    display: inline-block;
    font-weight: bold;
    color: #000;
   
}
.sub-suggestions li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #c4cbd4;
    border-radius: 5px;
    background-color: #fff;
}
.sub-suggestions a{
    color: #6299e2;
}
.sub-suggestions a:hover{
    color: #6299e2;
}
.sub-suggestions li:hover {
    
    border: 1px solid #6299e2;
    cursor: pointer;
    
}

.sub-suggestions{
 
display: inline-block;
margin-left: 50px;
margin-top: 10px;
}
/* content-phone */
.section{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.phone-container{
   
 display: flex;
  
   color: #333;

}
.phone-list:hover{
    box-shadow: 0 0  5px rgba(0, 0, 0, 0.3);
}
 
.phone-list{
     
    border: 1px solid rgb(248, 239, 239);
    padding: 10px 15px 20px;
   
    background-color: #fff;
 
}

.item-label{
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #ccc;
    display: inline-block;
    padding: 2px 3px ;
}
.lb-tragop{
    font-size: 12px;
}
.phone-info p{
    padding-top: 5px;
}

.phone-item{
   
   
    
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
   
}

.lb-img{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    bottom: 0;
       
}

.phone-img{
   height: 208.8px;
   width: 208.8;
   
}
.phone-sub-info li{
    list-style: none;
    padding-top: 3px;
}
.price-main{
    padding-top: 5px;

}
.percen{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13px;
    line-height: 17px;
}
.box-p{
    display: flex;

}
.gift{
    font-size: 13px;
    
}
.phone-sub-info{
    margin-top: 5px;
    font-size: 12px;

}
/* icon star */
.checked{
    margin-top: 3px;
    color: orange;
}
.ratinng{
    font-size: 12px;
}
.fa-star{
    font-size: 14px;
}
/*footer*/
.footer{
   
   
    z-index: 1;
    padding-top: 20px;
    color: #356178;
    font-family: serif;
}
.footer .first{
    background-color: rgb(158, 213, 216);
}
.footer .first img{
    padding-top: 10px;
    
}
.footer .second{
    background-color: rgb(52, 117, 121);
}
.footer .second p{
    padding-left: 25px;
}
.footer .second, .footer .third{
    color: #fff;
    font-size: 15px;
}
.footer .third{
    background-color: rgb(34, 87, 90);
}
.footer .third p{
    margin: auto;
    padding: 10px 0px;
}
/*footer*/