* {
    box-sizing:border-box;
    
  }
  body{
  
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(198, 233, 235);
}
  .container{
      margin: auto;
      padding: 0 100px;
  }
                    /* Nav bar */
  nav.navbar{
    background-color: rgb(52, 117, 121);
  }
  nav a, nav li{
    text-transform: uppercase;
    color: black;
  }
  .dropdown a, .dropdown ul,nav .list li a:visited{
    color: black;
    background-color: rgb(52, 117, 121);
  }
  nav .list li a:hover{
    font-size: 20px;
  }
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgb(52, 117, 121);
    border-color: #337ab7;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: black;
  }
  nav .list li a:hover, .navbar-right li a:hover, nav a:hover{
    color: black;
    background-color: rgb(52, 117, 121);
  }
  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(52, 117, 121);
  }
  @media only screen and (max-width: 887px) {
    .header ul form{
        width: 150px;
    }
  }
  @media only screen and (max-width: 767.5px) {
    .header ul form{
        width: 100%;
    }
  }
                  /* Nav bar */
  
  
  
  
  
  
  
          /* Slideshow container */
  #slider{
    padding-top: 45px;
    padding-bottom: 25px;
    position: relative;
    display: flex;
  }
  #top-slider{
      
    margin-top: 35px;
  
  }
  .top-img{
    width: 800px;
    height: 200px;
    margin-right: 32px;
  }
  .promote-banner{
    margin-top: 35px;
    margin-left: 15px;
    float: left;
  }
  .img-second{
    margin-top: 4px;
    
  }
  .img-first{
    max-height: 95px;
    margin-bottom: 5px;
  }
  
  
  
  
            /* Slideshow container */
  
  /* Product */
  
  .item img
  {
    height: 258.8px;
    width: 208.8;
    padding-top: 5px;
    transition: .2s;
     
  }
  .item img:hover
  {
    transform: scale(1.1);
  }
  .main{
    margin-left: auto;
    margin-right: auto;
    
  }
  div.item
{
  border:1px solid #f1f1f1;
  padding: 5px 20px ;
  background-color: #fff;   
}
.product-list
{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.item span
{
background-color:#f1f1f1;
border-radius:2px;
color:#333333;
display:inline-block;
font-size:14px;
line-height:12px;
margin-bottom: 10px;
padding:3px ;
text-align:left;
}
.item li{
    line-height: 25px;
    font-size: 14px;
  }
  .item h1{
  color:#288ad6;
  font-family:Helvetica;
  font-size:  26px;
  line-height:20px;
  margin:10px 0px 5px;
  text-align: center;
  
  }
  .item p{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;;
    
    text-align: center;
  }
  .item .price {
    font-size: 19px;
  }
  .rating .checked{
    color: orange;
  }
  .rating span
  {
    color: gray;
    background: none;
  }
  .item li:last-child
  {
    padding-bottom: 15px;
  }
  /*footer*/
  .footer{
    padding-top: 20px;
    color: #356178;
    font-family: serif;
  }
  .footer .first{
    background-color: rgb(158, 213, 216);
  }
  .footer .first img{
    padding-top: 10px;
    
  }
  .footer .second{
    background-color: rgb(52, 117, 121);
  }
  .footer .second p{
    padding-left: 25px;
  }
  .footer .second, .footer .third{
    color: #fff;
    font-size: 15px;
  }
  .footer .third{
    background-color: rgb(34, 87, 90);
  }
  .footer .third p{
    margin: auto;
    padding: 10px 0px;
  }
  
  /*footer*/
  
  @media only screen and (max-width: 720px){
    body{
      margin: auto;
    }
    .promote-banner{
     padding-left: 25px;
      width: 100%;
    }
    .top-img{
      width: 100%;
    }
    .product-list{
      flex-wrap: wrap;
      width: 100%;
      padding-left: 90px;
    }
    
    .item{
      text-align: center;
      
      margin-left: -20px;
    }
    .img-first .img-second img{
      width: 100%;
    }
    .product img{
      text-align: center;
    }
  } 
  @media only screen and (max-width: 1100px)
  {
    .product-list{
        flex-wrap: wrap;
        
    }
    .item{
        width: 50%;
    }
    .item img{
        width: 100%;
    }
  }