
body{
    
    background-color: rgb(198, 233, 235) !important;
}

/*nav*/
nav{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
nav.navbar{
  background-color: rgb(52, 117, 121);
}
nav a, nav li{
  text-transform: uppercase;
  color: rgb(253, 253, 253);
}
.dropdown a, .dropdown ul,nav .list li a:visited{
  color: rgb(255, 255, 255);
  background-color: rgb(52, 117, 121);
}
nav .list li a:hover{
  font-size: 20px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: rgb(52, 117, 121) !important;
  border-color: #337ab7 !important;
}
.navbar .navbar-toggle .icon-bar {
  background-color: rgb(255, 255, 255);
}
nav .list li a:hover, .navbar-right li a:hover, nav a:hover{
  color: black !important;
  background-color: rgb(154, 216, 219);
}
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: rgb(154, 216, 219) !important;
}
@media only screen and (max-width: 887px) {
  .header ul form{
      width: 150px;
  }
}
@media only screen and (max-width: 750px) {
  .header ul form{
      width: 100%;
  }
}

/* Banner */
.main-banner img{
  width: 780px;
  height: 215px;
  margin-right: 30px;
}
.banner{
  display: flex;
}
.top{
  margin-bottom: 15px;
}

/* Banner */

/* PRODUCT LIST */
.main
{
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.product-list
{
  display: flex;
}
.phone-img img{
  height: 208.8px;
  width: 208.8;
  
}
.phone-img{
  text-align: center;
  
  position: relative;
  padding-bottom: 5px;
}
.item
{
  background-color: #fff;
  border: 1px solid rgb(248, 239, 239);
  padding: 10px 15px 20px;
  width: 300px;
}
.item:hover{
  box-shadow: 0 0  5px rgba(0, 0, 0, 0.3);
}
.item span
{
  background-color:#f1f1f1;
  border-radius:2px;
  color:#333333;
  display:inline-block;
  font-size:14px;
  line-height:12px;
  margin-bottom: 10px;
  padding:3px ;
  text-align:left;
}
.item h1{
  color:#288ad6;
  font-family:Helvetica;
  font-size:  20px;
  line-height:20px;
  margin:10px 0px 5px;
  
  
}
.item ul{
  padding-left: 5px;
}
.item li{

  padding-top: 3px;
  
  font-size: 12px;
}
.phone-img img:hover{
  transform: scale(1.1);
}
.rating .checked{
  color: orange;
}
.rating span
{
  color: gray;
  background: none;
}
.item li:last-child
{
  padding-bottom: 5px;
}

/* PRODUCT LIST */


/*footer*/
.footer{
  padding-top: 20px;
  color: #356178;
  font-family: serif;
}
.footer .first{
  background-color: rgb(158, 213, 216);
}
.footer .first img{
  padding-top: 10px;
  
}
.footer .second{
  background-color: rgb(52, 117, 121);
}
.footer .second p{
  padding-left: 25px;
}
.footer .second a.note{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: rgba(240, 163, 75, 0.89);
  font-size: 20px;
}
@media only screen and (max-width: 950px) {
  .footer .second div a.note{
      position: relative;
      top: 3px;
      text-decoration: none;
      color: rgba(240, 163, 75, 0.89);
      font-size: 15px;
  }
}
.footer .second, .footer .third{
  color: #fff;
  font-size: 15px;
}
.footer .third{
  background-color: rgb(34, 87, 90);
}
.footer .third p{
  margin: auto;
  padding: 10px 0px;
}
/*footer*/


/* Responsive */
@media only screen and (max-width: 720px){
    
  .main{

      margin: 0 auto;
  }
  .top .bottom{
      max-width: 720px;
      width: 100%;
  }
  .banner{
      margin-top: 70px;
      max-width: 720px;
      flex-wrap: wrap;
      margin-left: 10px;
  }
  .top{
      margin-top: 10px;
  }
  .main-banner img{
      width: 100%;
  }

  .product-list{
    flex-wrap: wrap;
    
    
  }
  .item li{
      list-style: none;
  }
  .item{
    text-align: center;
    width: 50%;
    
  }
  .phone-img img{
    width:100%;
  }
  .product img{
    text-align: center;
  }
} 
