*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(198, 233, 235);
}
.header a{
    text-decoration: none;
    color: rgb(64, 113, 158);
    font-size: 35px;
}
.header a:nth-child(2){
    font-size: 30px;
}
/*giohang*/
.giohang{
    background-color: #fff;
    color: #000;
}
.giohang .row:nth-child(1){
    border: none;
    margin-top: 0;
    padding: 10px;
}
.giohang table tr th:nth-child(1){
    padding-left: 10px;
}
.giohang table tr th:nth-child(2){
    padding-left: 650px;
}
.giohang table tr th:nth-child(3){
    padding-left: 120px;
}
.giohang table tr th:nth-child(4){
    padding-left: 100px;
}
.giohang .row{
    border: 1px solid rgb(48, 48, 43);
}