*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 233, 235);
    color: #356178;
    font-family:monospace
}
/*nav*/
nav{
    font-family: Arial, Helvetica, sans-serif;
}
nav.navbar{
    background-color: rgb(52, 117, 121);
}
nav a, nav li{
    text-transform: uppercase;
    color: rgb(253, 253, 253);
}
.dropdown a, .dropdown ul,nav .list li a:visited{
    color: rgb(255, 255, 255);
    background-color: rgb(52, 117, 121);
}
nav .list li a:hover{
    font-size: 20px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgb(52, 117, 121);
    border-color: #337ab7;
}
.navbar .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
}
nav .list li a:hover, .navbar-right li a:hover, nav a:hover{
    color: black;
    background-color: rgb(154, 216, 219);
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(154, 216, 219);
}
@media only screen and (max-width: 887px) {
    .header ul form{
        width: 147px;
    }
}
@media only screen and (max-width: 767.5px) {
    .header ul form{
        width: 100%;
    }
}
/*end nav*/
a img.giohang{
    position: fixed;
    top: 100px;
    right: 50px;
    border-radius: 50px;
    width: 70px;
}
@media only screen and (max-width: 768px){
    a img.giohang{
        position: fixed;
        top: 100px;
        right: 40px;
        border-radius: 50px;
        width: 45px;
    }
}
/* a div.ct{
    position: absolute;
    top: ;
} */
.banner{
    margin-top: 70px;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: cover;
}
/*intro*/

@media only screen and (max-width: 700px) {
    div.intro p{
        font-size: 15px;
    }
    div.intro h1{
        font-size: 20px;
    }
}
.intro{
    padding: 0 50px;
}
.intro h1, .menu h1{
    font-size: 50px;
    font-family: "Audiowide", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}
.intro p{
    font-size: 20px;
}
/*hot*/
#hot-link{
    padding-top: 55px;
}
#hot-link .khuyenmai{
    font-family: serif;
    color: #fff;
    margin-top: 10px;
    background-color: rgb(63, 174, 180);
}
#hot-link .khuyenmai h2{
    font-weight: bold;
}
#hot-link .khuyenmai a{
    color: #fff;
    font-size: 20px;
}
#hot-link .khuyenmai a:hover{
    text-decoration: none;
}
#hot-link .khuyenmai .col-md-3 a:hover img{
    transform: scale(0.9, 0.9);
    /* padding-bottom: 20px; */
}
#hot-link .khuyenmai p{
    padding-left: 5px;
    text-align: left;
}
#hot-link .khuyenmai{
    box-shadow: 5px 10px 18px 5px red;
}
@media only screen and (max-width: 1000px){
    #hot-link .khuyenmai .km div.loikm{
    margin-bottom: 65px;
    }
    #hot-link .khuyenmai p{
        padding-left: 5px;
        text-align: center;
    }
    #hot-link .khuyenmai h2{
        font-size: 20px;
    }
}
/* @media only screen and (max-width: 570px){
    #hot-link .khuyenmai h2{
        font-size: 1px;
    }
} */
@media only screen and (max-width: 1200px){
    #hot-link .khuyenmai img{
        width: 200px;
    }
    #hot-link .khuyenmai .col-md-3 a:hover img{
        transform: scale(0.9, 0.9);
        /* padding-bottom: 20px; */
    }
}
@media only screen and (max-width: 450px){
    #hot-link .khuyenmai img{
        width: 100px;
    }
    #hot-link .khuyenmai .col-md-3 a:hover img{
        transform: scale(0.9, 0.9);
        /* padding-bottom: 20px; */
    }
    #hot-link .khuyenmai h2{
        font-size: 15px;
    }
    #hot-link .khuyenmai a{
        font-size: 13px;
    }
}
/*menu*/
/* div#menu-link{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(198, 233, 235);
} */
#menu-link{
    padding-top: 35px;
}
.menu{
    font-family:Arial, Helvetica, sans-serif;
}
.menu .price{
    color: #fff;
    background-color: rgb(3, 12, 146);
    width: 120px;
    margin: 10px auto;
    border-radius: 10px;
}
.menu .content ul{
    padding-left: 60px;
}
#menu-link .content a{
    color: #356178;
}
#menu-link .row{
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    #menu-link .content:hover{
        text-decoration: none;
        color: black;
        transform: scale(1.1, 1.1);
    }
}
#menu-link .content a{
    text-decoration: none;
    color: black;
    /* padding-bottom: 100px; */
}
#menu-link .content a:focus{
    text-decoration: none;
}
.menu h1{
    background-color: rgb(158, 213, 216);
}
/* #menu-link .content table{
    display: none;
}
#menu-link .content a:hover table{
    margin-top: -15px;
    display: block;
} */
@media only screen and (min-width: 700px) {
    div.loi{
        padding-bottom: 25px;
    }
}
@media only screen and (max-width: 370px) {
    div.loi{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 500px) {
    div.loi{
        padding-bottom: 80px;
        margin-bottom: 20px;
    }
    div.loi2{
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 700px) {
    div.loi{
        padding-bottom: 40px;
    }
    #menu-link h1{
        font-size: 25px;
    }
}
/* .themgio ul{
    list-style-type: none;
    display: flex;
    margin-left: 70px;
}
.themgio ul li{
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold; 
}
.sub-suggestions{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #333;
    top: 95%;
    left:0;
} */

a img.fixed{
    position: fixed;
    bottom: 100px;
    right: 30px;
    border: 1px solid black;
    border-radius: 50px;
}
/*footer*/
.footer{
    padding-top: 20px;
    color: #356178;
    font-family: serif;
}
.footer .first{
    background-color: rgb(158, 213, 216);
}
.footer .first img{
    padding-top: 10px;
    
}
.footer .second{
    background-color: rgb(52, 117, 121);
}
.footer .second p{
    padding-left: 25px;
}
.footer .second a.note{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: rgba(240, 163, 75, 0.89);
    font-size: 20px;
}
@media only screen and (max-width: 950px) {
    .footer .second div a.note{
        position: relative;
        top: 3px;
        text-decoration: none;
        color: rgba(240, 163, 75, 0.89);
        font-size: 15px;
    }
}
.footer .second, .footer .third{
    color: #fff;
    font-size: 15px;
}
.footer .third{
    background-color: rgb(34, 87, 90);
}
.footer .third p{
    margin: auto;
    padding: 10px 0px;
}
/*footer*/